include ../mixins

mixin input(type, label, name, required, icon)
  .input
    input.input__control(id=name type=type name=name required=required)
    +icon(icon, 'input__icon')
    label.input__label(for=name) #{label}
    .input__error