<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Портфолио | ТК
    meta(name="description" content="Сайт-портфолио веб-разработчика Курочкиной Татьяны")
    style.
      body {
        overflow: hidden;        
      }
      .preloader {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1b1f22;
        z-index: 1000;
      }
      .lds-ripple {
        display: inline-block;
        position: relative;
        width: 64px;
        height: 64px;
      }
      .lds-ripple div {
        position: absolute;
        border: 2px solid #fff;
        opacity: 1;
        border-radius: 50%;
        animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
      }
      .lds-ripple div:nth-child(2) {
        animation-delay: -0.5s;
      }
      @keyframes lds-ripple {
        0% {
          top: 28px;
          left: 28px;
          width: 0;
          height: 0;
          opacity: 1;
        }
        100% {
          top: -1px;
          left: -1px;
          width: 58px;
          height: 58px;
          opacity: 0;
        }
      }

    link(rel="apple-touch-icon" sizes="57x57" href=require("../public/apple-icon-57x57.png"))
    link(rel="apple-touch-icon" sizes="60x60" href=require("../public/apple-icon-60x60.png"))
    link(rel="apple-touch-icon" sizes="72x72" href=require("../public/apple-icon-72x72.png"))
    link(rel="apple-touch-icon" sizes="76x76" href=require("../public/apple-icon-76x76.png"))
    link(rel="apple-touch-icon" sizes="114x114" href=require("../public/apple-icon-114x114.png"))
    link(rel="apple-touch-icon" sizes="120x120" href=require("../public/apple-icon-120x120.png"))
    link(rel="apple-touch-icon" sizes="144x144" href=require("../public/apple-icon-144x144.png"))
    link(rel="apple-touch-icon" sizes="152x152" href=require("../public/apple-icon-152x152.png"))
    link(rel="apple-touch-icon" sizes="180x180" href=require("../public/apple-icon-180x180.png"))
    link(rel="icon" type="image/png" sizes="192x192"  href=require("../public/android-icon-192x192.png"))
    link(rel="icon" type="image/png" sizes="32x32" href=require("../public/favicon-32x32.png"))
    link(rel="icon" type="image/png" sizes="96x96" href=require("../public/favicon-96x96.png"))
    link(rel="icon" type="image/png" sizes="16x16" href=require("../public/favicon-16x16.png"))
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-TileImage" content=require("../public/ms-icon-144x144.png"))
    meta(name="theme-color" content="#ffffff")
  body
    .preloader
      .lds-ripple
       div
       div
    .wrapper
      .parallax-container
        include components/parallax
        include components/main-section
        include components/about-section
      include components/skills-section
      include components/works-section
      include components/feedback-section
      include components/footer

    include templates/entry