mixin icon(name, className)
  - var icon = require(`images/icons/${name}.svg`);
  svg(class=className viewBox=icon.viewBox preserveAspectRatio="none")
    use(xlink:href=icon.url)

mixin image(path, className)
  img(src=require(`images/${path}`) class=className)

mixin picture(name, ext, mobile)
  picture
    source(media="(min-width: 1200px)" type="image/webp" srcset=require(`images/content/${name}@2x.webp`))
    source(media="(min-width: 769px)" type="image/webp" srcset=require(`images/content/${name}.webp`) + ' 1x, ' + require(`images/content/${name}@2x.webp`) + ' 2x')
    source(media="(min-width: 1200px)" srcset=require(`images/content/${name}@2x.${ext}`))
    source(media="(min-width: 769px)" srcset=require(`images/content/${name}.${ext}`) + ' 1x, ' + require(`images/content/${name}@2x.${ext}`) + ' 2x')
    img.parallax__image(src=require(`images/content/${name}.${ext}`))